.form {
    width: 800px;
    margin: 50px auto 20px;
}

#todoInput {
    width: inherit;
    background: none;
    border: none;
    border-bottom: 1px solid #34495e;
    font: 300 28px 'Ubuntu', sans-serif;
    padding: 20px;
    color: #34495e;
}

#todoInput:focus {
    outline: none;
}